.contacts-container {
    width: 49%;
    height: 320px;
    position: relative;
    padding: 15px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffd9d9;
    border-radius: 5px;
}

.contact-btns {
    display: flex;
}

.contact-btns button {
    width: 100%;
    height: 50px;
    margin-right: 5px;
}

.totalcontacts {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.totalcontacts h1, .totalcontacts h2{
    margin: 0 auto;
}

.totalcontacts h1 {
    margin-top: 30px;
    font-size: 100px;
    color: #212529;
    animation-name: totalcontacts;
    animation-duration: 1s;
}


@keyframes totalcontacts {
    0% {color: red}
    25% {color: #ff3939}
    50% {color: #f15c5c}
    75% {color: #844b4b}
    100% {color: #212529}
}
