.home-container {
    background-image: linear-gradient(to bottom,#ef7070,#f72c2c);
}

.contact-message-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    position: relative;
    left: 20px;
}

.basic-btn {
    color: white;
    background-color: #f15656;

    font-size: 13px;
    text-transform: capitalize;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;

    transition: 0.3s;
    cursor: pointer;
    outline: none;
}

.basic-btn:hover {
    background-color: #fd9090;
}

.basic-btn:focus {
    outline: none;
}

.home-footer {
    border-top: 1px solid #303339;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1200px;
    color: white;
    height: 100px;
    position: relative;
    left: 20px;
    text-align: center;
    padding-top: 20px;
}

.home-footer a{
    color: rgb(215, 215, 215);
}

.home-footer a:hover{
    color: white;
}