.home-container {
    height: 160vh;
    background-image: linear-gradient(to bottom,#ef7070,#f72c2c);
}

.contact-message-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1000px;
    position: relative;
    left: 20px;
}

.basic-btn {
    color: white;
    background-color: #f15656;

    font-size: 13px;
    text-transform: capitalize;
    width: 100px;
    padding: 5px;
    /* border: 1px solid #36393F; */
    border: none;
    border-radius: 5px;

    transition: 0.3s;
    cursor: pointer;
    outline: none;
}

.basic-btn:hover {
    background-color: #fd9090;
}

.basic-btn:focus {
    outline: none;
}

.home-container footer {
    color: white;
}