.messagelog-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 95%;
    background-color: #ffd9d9;
    border-radius: 5px;
    padding: 20px 30px;
    position: relative;
    left: 20px;
    max-width: 1200px;
}

.message-list-header {
    color: inherit;
    margin: 0;
}

.message-list {
    height: 400px;
    padding: 15px 0;
    overflow-y: auto;
    margin: 0;
}

.message-contact {
    margin: 0 10px;
    max-width: 150px;
}

.message-list-item {
    display: flex;
}

.message-time {
    max-width: 180px;
    margin: 0;
    color: #6f6f6f;
}

.message-text {
    margin: 0;
    max-width: 100%;
    color: black;
    margin-right: 10px;
}

.message-stats {
    max-width: 100px;
    margin: 0;
    color: black;
    position: relative;
    right: 0;
}