.messages-container {
    width: 49%;
    height: 320px;
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ffd9d9;
    border-radius: 5px;
}

.messages-container h1 {
    margin: 0 auto;
    margin-bottom: 8px;
}

.messages-container form {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.messages-container textarea {
    height: 100px;
    resize: none;
}

.messages-container select {
    height: 40px;
}

.message-btn {
    position: relative;
    top: 13px;
    width: 100%;
    height: 50px;
}

.char-count {
    margin: 0;
    font-size: 12px;
    margin-bottom: 5px;
}