.organizers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    /* height: 300px; */
    padding: 15px;
    border: 2px solid black;
}

.organizers-table tr th, .organizers-table tr td{
    width: 250px;
}
