.splash-nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f15656;
}

.splash-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.splash-nav li {
    margin: 0 8px;
    display: flex;
    flex-direction: row;
}


.splash-nav a, .splash-nav a:visited, .splash-nav a:active {
    font-size: 30px;
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
}

.splash-nav a:hover {
    cursor: pointer;
    color: white;
}


.flag {
    position: absolute;
    width: 70px;
    left: 50px;
    top: 15px;
}

  
.logout-btn {
    color: white;
    background-color: #f15656;

    font-size: 13px;
    text-transform: capitalize;

    padding: 5px;
    border: 1px solid #36393F;
    border-radius: 5px;

    transition: 0.3s;
    cursor: pointer;
    outline: none;
}

.logout-btn:hover {
    background-color: #fd9090;
}