.bulk-upload {
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffd9d9;

    position: relative;
    animation-name: contact;
    animation-duration: 0.5s;
}

.file-btn {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

#file {
  display: none;
}

.bulk-contact-list {
  overflow-y: auto;
  max-height: 200px;
  margin: 10px 0 10px 0;
}


.bulk-contact-list-item {
  display: flex;
  justify-content: space-between;
}

.bulk-add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bulk-add-btns {
  display: flex;
  justify-content: space-between;
}