.createcontact-container {
    width: 500px;
    height: 320px;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffd9d9;

    position: relative;
    animation-name: contact;
    animation-duration: 0.5s;
}

@keyframes contact {
    from {left: -85vw}
    to {left: 0}
}

.createcontact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createcontact-container > form > select {
    width: 175px;
    height: 40px;
}

.createcontact-container > form > input {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 40px;
}

.createcontact-container > form > button {
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 5px;
    right: 5px;
}