.splash-container {
    height: 87.5vh;
    background-image: linear-gradient(to bottom,#ef7070,#f72c2c);
    color: white;
}

.btn-divider {
    margin-right: 50px;
}

.login-button, .signup-button {
    top: 0;
    border: 2px solid #f15656;
    padding: 10px 37px 10px;
    border-radius: 5px;
    line-height: 17px;
    text-decoration: none;
    background-color: #f15656;
    cursor: pointer;
    transition: 0.2s;
}

.login-button:hover, .signup-button:hover {
    color: white;
    border: 10px solid #fd9090;
    text-decoration: none;
    background-color: #fd9090;
}


.splash-main {
    width: 850px;
    margin: auto;
    display: flex;
    top: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
  
p {
    font-size: 16px;
    width: 700px;
    margin-bottom: 30px;
}


  
.splash-btns {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer {
    border-top: 1px solid #303339;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.protest {
    width: 111%;
    margin-bottom: 20px;
}

.splash-main > h1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 320px;
}

.power {
  font-size: 7rem;
  position: relative;
  animation-name: power;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes power {
  0%   {font-size: 7rem;}
  50%  {font-size: 9rem;}
  100% {font-size: 7rem;}
}